body {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(150, 0, 132, 1) 100%, rgba(0, 212, 255, 1) 100%);
}

.text {
    padding-top: 50px;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    position: fixed !important;
    width: 70%;
    height: 100%;
}

h4 {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 800;
    line-height: 36px;
    margin: 0 0 24px;
    text-align: center;
}

p {
    color: #f8f8f8;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    margin: 0 0 24px;
}


.home-menu {
    opacity: 80%;
    text-decoration: none;
}



.home-menu a {
    color: whitesmoke;
}

.home-menu li a:hover,
.home-menu li a:focus {
    opacity: 40%;
    background: none;
    border: none;
}